*{
	margin: 0;
	padding: 0;
}
html{
	scroll-behavior: smooth;
}
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
}
#logo{
    margin: 10px,20px;
}
#logo img{
     height: 40px;
     width: 50px;
     margin: 3px 5px;
     border-radius: 20px;
}
#navbar ul{
	display: flex;
}
#navbar::before {
	content:"";
	background-color: black;
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: -1;
	opacity: 0.4; 
}
#navbar ul li{
    list-style: none;
    font-family: "bold";
}
#navbar ul li a{
	text-decoration: none;
	padding: 20px;
	display: block;
	border-radius: 3px;
	color: white;
}
#navbar ul li a:hover{
	color: black;
	background-color: white;
	border-radius: 30px;
}
#Home{
	display: flex;
	flex-direction: column;
	padding: 3px 200px;
	align-items: center;
	height: 593px;
	justify-content: center;
}
#Home::before{
	content:"";
	background: url(../img1.jpg);
	position: absolute;
	height: 600px;
	width: 100%;
	z-index: -1;
	opacity: 0.89; 
}
.primary{
	font-size: 40px;
}
.btn{
	margin: 6px;
	padding: 3px;
	background-color: black;
	box-shadow: 9px 9px green;
	border: 2px solid;
	font-size: 1.5rem;
	color: white;
	border-color: green;
	border-radius: 5px;
	cursor: pointer;
}
.btn:hover{
	background-color: yellow;
	color: seagreen;
}
#heading{
	margin-top: 8px;
	margin-bottom: -29px;
	text-align: center;
	font-size: 44px;
	background-color: rgb(255, 0, 59, 0.07);
}
#services{
	display: flex;
	margin: 34px;
}
.box{
	border: 2px solid green;
	border-radius: 10px;
	margin: 3px;
	padding: 13px;
	background-color: rgba(0,0,0,0.1);
}
#services .box img{
  height: 160px;
  width: 140px;
  margin: auto;
  display: block;
}
.box h2{
	text-align: center;
}
.box p{
	text-align: center;
	font-size: 12px;
}
#form{
	display: flex;
	justify-content: center;
	align-items: center;
	background: url(../fpic.jpg);
	color: #e6e69c;
}
#form input,
#form textarea{
	margin: 6px;
	width: 300px;
	border-radius: 6px;
}
.last{
	margin-top: -30px;
	margin-bottom: 7px;
	text-align: center;
	font-size: 44px;
	background-color: #f7f2d5;
}